
---
extends: airbnb/base
parser: babel-eslint

env:
  browser: true
  node: true
  mocha: true

rules:
  valid-jsdoc:
    - 2
    - requireParamDescription: false
      prefer:
        return: returns

  max-len: 1
  arrow-body-style: 1
