---
extends: airbnb-base
parser: babel-eslint
plugins:
  - async-await

env:
  node: true
  mocha: true

rules:
  valid-jsdoc:
    - 2
    - prefer:
        return: returns

  max-len: 1
  arrow-body-style: 1

  async-await/space-after-async: 2
